*{
    margin: 0;
    padding: 0;
}

.Column{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 10vw;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
}

.Column-Yaxis{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 5vw;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
}

.Column-bottom{
    margin-top: 10px;
}

.Column-element{
    border: 2px solid black;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 2px;
}

.Game-board{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}