body{
    margin: 0;
    padding: 0;
}

.playerName{
    font-size: 30px;
}

#player-1-name{
    font-size: 30px;
}

#player-2-name{
    font-size: 30px;
}

.colorElement{
    width: 20px;
    height: 15px;
}

.colorContainer{
    display:flex;
    width: auto;
}

.color-select-button{
    width: 20px;
    height: 20px;
}

.playerDetailsContainer{
    display: flex;
    grid-column-start: 1;
}

.playerDetails{
    border: 2px black solid;
    width: 30vw;
}

.colorPicker{
    border: 2px solid red;
    width: auto;
    height: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.player-container{
    display: grid;
    gap: 5vw;
    justify-content: center;
    align-content: center;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 10vh 10vh 20vh;
    border: 2px solid blue;
}